:root {
	--bg-prim: black;
	--text-c-prim: white;
	--text-c-error: red;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-c-prim);
	background-color: var(--bg-prim);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	font-size: 1rem;
}
ul[role='list'],
ol[role='list'] {
	list-style: none;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}
button {
	cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-prim: #efefef;
		--text-c-prim: #213547;
	}
}

body {
	display: grid;
	place-content: center;
	background-image: radial-gradient(at 50% 50%, transparent, var(--bg-prim)),
		conic-gradient(
			from 0deg at 50% -8%,
			transparent 40%,
			hsl(0, 0%, 30%) 50%,
			transparent 60%
		);
}

#app {
	position: relative;
}
